﻿
<!doctype html>
<html lang="en" ng-app="growSure">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title Of Site -->
    <title>GrowSure</title>
    <meta name="description" content="GrowSure is a best tutorial of indore city where our students get world class training on all subjects. We have best trainer for trained to our candidates.." />
    <meta name="keywords" content="GrowSure" />
    <meta name="author" content="GrowSure">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="app/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="app/images/favicon.ico" type="image/x-icon">
    <!-- Fav and Touch Icons -->
    <!-- CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="app/css/bootstrap.min.css" media="screen">
    <link href="app/css/animate.css" rel="stylesheet">
    <link href="app/css/main.css" rel="stylesheet">
    <link href="app/css/plugin.css" rel="stylesheet">

    <!-- CSS Custom -->
    <link href="app/css/style.css" rel="stylesheet">

    <!-- For your own style -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- JS -->

    <script src="https://use.fontawesome.com/796412e158.js"></script>
    
    <script type="text/javascript" src="app/js/jquery-2.2.4.min.js"></script>
    <script src="app/js/angular.js"></script>
    <script src="app/js/angular-route.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script> 
    <script src="app/app.js"></script>
    <script src="app/services/httpService.js"></script>
    <script src="app/controllers/contactUsController.js"></script>
    <script src="app/directives/growSureMenu.js"></script>
    <script src="app/controllers/leftNavigationCtrl.js"></script>
    <script src="app/controllers/addCourseController.js"></script>
    <script src="app/controllers/addCourseDetailController.js"></script>
    <script src="app/controllers/courseDetailController.js"></script>
    <script src="app/controllers/addBlogController.js"></script>
    <script src="app/controllers/dashboardController.js"></script>
    <script src="app/controllers/blogController.js"></script>
    <script type="text/javascript" src="app/js/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript" src="app/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="app/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="app/js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="app/js/spin.min.js"></script>
    <script type="text/javascript" src="app/js/jquery.introLoader.min.js"></script>
    <script type="text/javascript" src="app/js/typed.js"></script>
    <script type="text/javascript" src="app/js/placeholderTypewriter.js"></script>
    <script type="text/javascript" src="app/js/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="app/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="app/js/select2.full.js"></script>
    <script type="text/javascript" src="app/js/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="app/js/readmore.min.js"></script>
    <script type="text/javascript" src="app/js/slick.min.js"></script>
    <script type="text/javascript" src="app/js/bootstrap-rating.js"></script>
    <script type="text/javascript" src="app/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="app/js/creditly.js"></script>
    <script type="text/javascript" src="app/js/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="app/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="app/js/customs.js"></script>
</head>

<body>
    <div class="loader" data-ng-if="loaderIndicator">
        <img src="app/images/loader_image.gif" alt="">
    </div>
    <!-- start Header -->
    <header id="header" data-ng-controller="leftNavigationCtrl">

        <!-- start Navbar (Header) -->
        <nav class="navbar">

            <div id="top-header">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-sm-6">



                            <div class="top-header-widget hidden-xs">
                                <!--<i class="ion-android-call"></i> <span class="number">0731-4006185, 9424425010</span>
                                   -->
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div data-ng-show="!isLogin">
                                <div class="top-header-widget pull-right">
                                    <a data-ng-click="openLoginPopup()" data-toggle="modal" aria-haspopup="true">
                                        <i class="ion-log-in mr-3"></i> Sign-in
                                    </a>
                                </div>
                            </div>
                            <div data-ng-show="isLogin">
                                <div class="top-header-widget pull-right">
                                    Welcome, Admin
                                </div>
                            </div>
                            <div class="top-header-widget pull-right hidden-xs">

                                <i class="fa fa-comments mr-3"></i> An ISO: 9001:2015 Certified
                            </div>


                        </div>

                    </div>

                </div>

            </div>
            <div class="main-header">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/"><img src="app/images/logo_new_design.png"></a>
                    </div>

                    <div id="navbar" class="collapse navbar-collapse navbar-arrow">

                        <ul class="nav navbar-nav navbar-right" id="responsive-menu">

                            <li>
                                <a href="#/">Home</a>

                            </li>

                            <li>
                                <a>Courses </a>
                                <ul class="more-padding" id="coursesMenu">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3" ng-repeat="item in CourseMenu">
                                                <h5>{{item.main_course}}</h5>
                                                <div>
                                                    <li data-ng-repeat="data in item.sub_course">
                                                        <a href="#/course-detail/{{data.name}}/{{data.sub_course_id}}" data-ng-click="hideMenu()">
                                                            <img src="app/images/kite.png" class="kite">
                                                            {{data.name}}
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider-mar">
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">

                                            </div>
                                            <div class="col-sm-3">

                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>

                            <li>
                                <a href="#/blogs">Blogs and Events</a>

                            </li>
                            <li>
                                <a href="#/contact-us">Contact</a>
                            </li>
                            <li><a href="#/about-us">About Us</a></li>
                        </ul>

                    </div>

                </div>
            </div>
            <div id="slicknav-mobile"></div>

        </nav>
        <!-- end Navbar (Header) -->
        <div grow-sure-menu></div>
    </header>
    <!-- end Header -->
    <ng-view></ng-view>
    <!-- start Footer Wrapper -->
    <div class="footer-wrapper scrollspy-footer">

        <footer class="main-footer">

            <div class="container">

                <div class="row">

                    <div class="col-sm-12 col-md-3 mb-30">

                        <div class="footer-logo">
                            <a href="#home"><i class="education-icon-book7"></i> Grow<strong class="uppercase">Sure</strong></a>
                        </div>

                        <p class="about-us-footer">Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness.</p>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 mb-30">

                        <div class="newsletter-footer">

                            <form action="#" method="post" class="row">

                                <div class="col-xs-12 col-sm-12 col-md-8">

                                    <!--<div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <input type="submit" class="btn btn-submit" value="SUBSCIBE">
                                    </div>-->

                                </div>

                            </form>

                        </div>

                        <ul class="menu-footer">
                            <li><a href="#">About</a></li>
                           

                            <li><a href="#">Careers</a></li>
                           
                           
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Help</a></li>
                         
                            <li><a href="#">Contact</a></li>
                           
                        </ul>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 mb-30">

                        <div class="social-footer clearfix">
                            <a href="#"><i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus "></i></a>
                            <a href="#"><i class="fa fa-codepen"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-jsfiddle"></i></a>
                            <a href="#"><i class="fa fa-stack-overflow"></i></a>
                        </div>


                        <p class="footer-address">
                            4th floor shell tower, opposite Pizza Hut, Sapna Sangeeta main road
                            Indore <br /><span class="block text-white font20 font700 line20 mt-5 mb-5">0731-4006185, 9424425010</span>growsure@yahoo.com
                        </p>

                    </div>

                </div>

            </div>

        </footer>

        <footer class="secondary-footer">

            <div class="container">

                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <p class="copy-right">&#169; Copyright 2017 GrowSure</p>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <ul class="secondary-footer-menu clearfix" data-ng-show="isLogin">
                            <li><a href="#/add-course">add course</a></li>
                            <li><a href="#/add-course-detail">add course detail</a></li>
                            <li><a href="#/add-blog">add blog</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </footer>

    </div>
    <!-- end Footer Wrapper -->
    <!-- start Back To Top -->
    <div id="back-to-top">
        <a href="#"><i class="ion-ios-arrow-up"></i></a>
    </div>
    <!-- end Back To Top -->





</body>


</html>