﻿




	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		

		<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
		
			<div class="breadcrumb-wrapper">
			
				<img src="app/images/inner-banner.jpg" alt="">

			</div>
		
			<div class="container pt-60 pb-70">
				
				<div class="row">
					
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					
						<div class="section-title">
							<h2 class="text-center">About Us</h2>
							<p>We are an institute for all your needs.</p>
						</div>
						
					</div>
					
					<div class="col-sm-12">
					
						<p>Stationed at the centre of your favourite city. Right next to Sapna Sangeeta.
Join us for falling in love with studies. </p>

						<p> In Engineering, we teach it all. From core java to python to website development, GrowSure has all arrows in its quiver.
The GrowSure Universe covers Competitive exams and Government funded trainings as well.
Not very fond of reading textbooks! Log on to our website and have an interactive framework ready for you to learn from. 24x7 to indulge you, One on one blogs for students and teachers to clear out doubts and learn from.

Do not wait an instant longer. Open the Pandora's Box named GrowSure and delve deeper into the world of learning.  </p>
					
					</div>

				</div>

				<div class="counting-wrapper mt-70 mb-70" style="background-image:url('app/images/img-bg-01.jpg');">
					
					<div class="GridLex-gap-30 relative">
					
						<div class="GridLex-grid-noGutter-equalHeight">
						
							<div class="GridLex-col-4_sm-4_xs-12">
								<div class="counting-item">
									<div class="icon-number">
										<i class="ion-ios-people-outline"></i> 9000k
									</div>
									Happy Students
								</div>
							</div>
							
							<div class="GridLex-col-4_sm-4_xs-12">
								<div class="counting-item">
									<div class="icon-number">
										<i class="ion-ios-lightbulb-outline"></i> 985
									</div>
									Courses Available
								</div>
							</div>
							
							<div class="GridLex-col-4_sm-4_xs-12">
								<div class="counting-item">
									<div class="icon-number">
										<i class="ion-ios-personadd-outline"></i> 352
									</div>
									Certified Teachers
								</div>
							</div>
							
						</div>
		
					</div>
					
				</div>
				
				<div class="row">
					
					<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					
						<div class="section-title">
							<h2 class="text-center">Our Features</h2>
						</div>
					</div>
				
				</div>
					
				<div class="row">
				
					<div class="col-sm-4">
					
						<div class="icon-featured">
							
							<h4>Learn at your own availability</h4>
							<span class="icon text-primary"><i class="ion-ios-timer-outline"></i></span>
							<p>Raising say express had chiefly detract demands she. Quiet led own cause three him marianne attended.</p>
						
						</div>
					
					</div>
					
					<div class="col-sm-4">
					
						<div class="icon-featured">
							
							<h4>Learn by watching short video</h4>
							<span class="icon text-primary"><i class="ion-ios-film-outline"></i></span>
							<p>Prospect humoured mistress to by proposal marianne attended. Simplicity the far admiration preference everything.</p>
						
						</div>
					
					</div>
					
					<div class="col-sm-4">
					
						<div class="icon-featured">
							
							<h4>Learn by real-time doing and pratacing</h4>
							<span class="icon text-primary"><i class="ion-ios-compose-outline"></i></span>
							<p>Our compass see age uncivil matters weather forbade her minutes. Ready how but truth son new under.</p>
						
						</div>
					
					</div>
					
				</div>
				
			</div>
			
			<div class="pt-80 pb-80 bg-light">
			
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						
							<div class="section-title">
								<h2 class="text-center">Our Staffs</h2>
							</div>
						</div>
					
					</div>
					
					<div class="teacher-item-grid-wrapper">
			
						<div class="GridLex-gap-30">
											
							<div class="GridLex-grid-noGutter-equalHeight">
									
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="team-item">
									
										<ul class="team-item-social">
										
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
											
										</ul>
										
										<div class="team-item-inner">
										
											<div class="image">
												<img src="app/images/01(1).jpg" alt="Image" />
											</div>
											
											<div class="content">
											
												<h3>Alexey Barnashov</h3>
												<p class="labeling">Founder &amp; CEO</p>
												
											</div>
											
										</div>
									
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="team-item">
									
										<ul class="team-item-social">
										
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
											
										</ul>
										
										<div class="team-item-inner">
										
											<div class="image">
												<img src="app/images/01(1).jpg" alt="Image" />
											</div>
											
											<div class="content">
												<h3>Ange Ermolova</h3>
												<p class="labeling">Director Manager</p>
												
											</div>
											
										</div>
									
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="team-item">
									
										<ul class="team-item-social">
										
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
											
										</ul>
										
										<div class="team-item-inner">
										
											<div class="image">
												<img src="app/images/01(1).jpg" alt="Image" />
											</div>
											
											<div class="content">

												<h3>Chaiyapatt Putsathit</h3>
												<p class="labeling">Accountant</p>
												
											</div>
											
										</div>
									
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="team-item">
									
										<ul class="team-item-social">
										
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
											
										</ul>
										
										<div class="team-item-inner">
										
											<div class="image">
												<img src="app/images/01(1).jpg" alt="Image" />
											</div>
											
											<div class="content">

												<h3>Khairoz Nadzri</h3>
												<p class="labeling">Developer</p>
												
											</div>
											
										</div>
										
									</div>
									
								</div>
								
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>

		</div>
		<!-- end Main Wrapper -->
		
		
		
	</div>
	<!-- end Container Wrapper -->
 
 
<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="ion-ios-arrow-up"></i></a>
</div>
<!-- end Back To Top -->

<div id="ajaxLoginModal" class="modal fade login-box-wrapper" data-width="500" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;"></div>
		
<div id="ajaxRegisterModal" class="modal fade login-box-wrapper" data-width="500" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;">
</div>

<div id="ajaxForgotPasswordModal" class="modal fade login-box-wrapper" data-width="500" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;"></div>


<!-- JS -->
<script src="https://use.fontawesome.com/796412e158.js"></script>
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/spin.min.js"></script>
<script type="text/javascript" src="js/jquery.introLoader.min.js"></script>
<script type="text/javascript" src="js/typed.js"></script>
<script type="text/javascript" src="js/placeholderTypewriter.js"></script>
<script type="text/javascript" src="js/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/select2.full.js"></script>
<script type="text/javascript" src="js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="js/readmore.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/bootstrap-rating.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/creditly.js"></script>
<script type="text/javascript" src="js/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="js/bootstrap-modal.js"></script>
<script type="text/javascript" src="js/customs.js"></script>
