﻿<!-- start Container Wrapper -->
	<div class="container-wrapper">

		

		<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
		
			<!--<div class="breadcrumb-wrapper">
			
				<img src="app/images/inner-banner.jpg" alt="">

			</div>-->
		    
			<div class="equal-content-sidebar-wrapper">
			
				<div class="equal-content-sidebar-by-gridLex">
				
					<div class="container" >
					
						<div class="GridLex-grid-noGutter-equalHeight">
							
							<div class="GridLex-col-9_sm-8_xs-12_xss-12">
								
								<div class="content-wrapper padding-right">
							
                                    <div class="blog-wrapper" data-ng-if="courseDetailIndicator">

                                        <div class="blog-item blog-single">
                                            <img src="{{course.image}}" alt="" />
                                            <div class="blog-content">

                                                <h3><b>{{course.sub_course | uppercase}}</b></h3>


                                                <div class="blog-entry">

                                                    <p> {{course.description}}</p>
                                                    <p>
                                                        <b>Prerequisites :  </b>
                                                        <li data-ng-repeat="data in course.general_info.course_prerequisites">{{data}}</li>
                                                    </p>
                                                    <p>
                                                        <b> Course Duration : </b>
                                                        {{course.course_duration}}
                                                    </p>
                                                    <p>
                                                        <b>Training Highlights :</b>
                                                        <li data-ng-repeat="data in course.general_info.training_highlights">{{data}}</li>
                                                    </p>
                                                    <p>
                                                        <b>Syllabus : </b>
                                                        <ul>
                                                            <li class="blogsSubheading" data-ng-repeat="data in course.general_info.chapter_name">{{data}}</li>
                                                        </ul>
                                                    </p>
                                                </div>

                                            </div>

                                        </div>





                                    </div>
                                    <ul>
                                        <li style="color:#333" data-ng-if="!courseDetailIndicator">
                                            <h6>
                                                No record found for this course now. We will get back to you once we start this course.
                                                Please click on apply and fill required details.
                                            </h6>
                                        </li>
                                    </ul>
									<div class="clear mb-40"></div>
									
								
									
									<!-- End Comment -->
									
									<div class="clear mb-40"></div>
									
									

									
										
										<div class="clear"></div>
										
										<div class="row">
											<div class="col-md-12">
												<button type="submit" class="btn btn-primary" data-ng-click="applyForCourse()">Apply</button>
											</div>
                                            <div data-ng-if="contactUsIndicator" id="apply-form">
                                                <div class="col-sm-12 mb-30">

                                                    <form class="contact-form-wrapper" data-toggle="validator" novalidate name="contactusForm" ng-controller="contactUsController">

                                                        <div data-ng-show="errorIndicator" style="color:red">
                                                            {{errorMessage}}
                                                        </div>
                                                        <div data-ng-show="!errorIndicator" style="color:green">
                                                            {{successMessage}}
                                                        </div>
                                                        <div class="row">
                                                            <h5>Thanks you for applying. We will get back to you soon. Please fill form.</h5>
                                                            <div class="col-sm-6">

                                                                <div class="form-group">
                                                                    <label for="inputName">Your Name <span class="font10 text-danger">(required)</span></label>
                                                                    <input id="inputName" name="inputName" type="text" class="form-control" required data-ng-model="user.name" maxlength="20"
                                                                           ng-class="{error : contactusForm.inputName.$invalid && contactusForm.$submitted}" />
                                                                    <div class=" help-block with-errors"></div>
                                                                </div>

                                                            </div>

                                                            <div class="col-sm-6">

                                                                <div class="form-group">
                                                                    <label for="inputEmail">Your Email <span class="font10 text-danger">(required)</span></label>
                                                                    <input id="inputEmail" name="inputEmail" type="email" class="form-control" required data-ng-model="user.email"
                                                                           ng-class="{error : contactusForm.inputEmail.$invalid && contactusForm.$submitted}" ng-pattern="emailformat" />
                                                                    <div class=" help-block with-errors"></div>
                                                                </div>

                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="inputPhone">Your Phone <span class="font10 text-danger">(required)</span></label>
                                                                    <input id="inputPhone" name="inputPhone" type="number" class="form-control" required maxlength="10"
                                                                           ng-minlength="10" data-ng-model="user.phone"
                                                                           ng-class="{error : contactusForm.inputPhone.$invalid && contactusForm.$submitted}" />
                                                                    <div class=" help-block with-errors"></div>
                                                                </div>

                                                            </div>
                                                            <div class="col-sm-12">

                                                                <div class="form-group">
                                                                    <label for="inputMessage">Message <span class="font10 text-danger">(required)</span></label>
                                                                    <textarea id="inputMessage" class="form-control" rows="8" required
                                                                              data-ng-maxlength="500" data-ng-model="user.message" name="inputMessage"
                                                                              ng-class="{error : contactusForm.inputMessage.$invalid && contactusForm.$submitted}"></textarea>
                                                                    <div class="help-block with-errors"></div>
                                                                </div>

                                                            </div>

                                                            <div class="col-sm-12">
                                                                <input type="text" class="btn btn-primary mt-5" data-ng-click="contactUs()" value="send Message">
                                                            </div>

                                                        </div>

                                                    </form>

                                                </div>
                                            </div>
										</div>
									
									
								</div>
								
							</div>

                            

							<div class="GridLex-col-3_sm-4_xs-12_xss-12">
							
								<aside class="sidebar-wrapper for-blog">
							
									<div class="sidebar-module">
										<div class="sidebar-module-inner">
											<div class="sidebar-mini-search">
												<div class="input-group">
													<input type="text" class="form-control" placeholder="Search for..." data-ng-model="searchText">
													<span class="input-group-btn">
														<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
													</span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="clear"></div>
									
                                    <div class="sidebar-module clearfix" ng-repeat="item in CourseMenu | filter : searchText">

                                        <h6 class="sidebar-title">{{item.main_course}}</h6>

                                        <div class="sidebar-module-inner">
                                            <ul class="sidebar-category" data-ng-repeat="data in item.sub_course | filter : searchText">
                                                <li><a href="#/course-detail/{{data.name}}/{{data.sub_course_id}}">{{data.name}}</a></li>
                                            </ul>
                                        </div>

                                    </div>
																	
									<div class="clear"></div>
									
								</aside>
								
							</div>
							
						</div>
						
					</div>
                    
				</div>
				
			</div>

		</div>
		<!-- end Main Wrapper -->
		
		
		
	</div>
	<!-- end Container Wrapper -->
 
 

