﻿




	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		

		<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
		
			<div class="breadcrumb-wrapper">
			
				<img src="app/images/inner-banner.jpg" alt="">

			</div>
		
			<div class="equal-content-sidebar-wrapper">
			
				<div class="equal-content-sidebar-by-gridLex">
				
					<div class="container">
					
						<div class="GridLex-grid-noGutter-equalHeight">
				
							

							<div class="GridLex-col-12_sm-8_xs-12_xss-12">
						
								<div class="course-items">

									
									
									<div class="course-item-wrapper alt-bg-light clearfix">
							
										<div class="GridLex-gap-20">
										
											<div class="GridLex-grid-noGutter-equalHeight">
											
												<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
													<div class="course-item">
														<a href="#">
															<div class="course-item-image">
																<img src="app/images/01.jpg" alt="Image" class="img-responsive" />
															</div>
															<div class="course-item-top clearfix">
																<div class="course-item-instructor">
																	<div class="image">
																		<img src="app/images/01.jpg" alt="Image" class="img-circle" />
																	</div>
																	<span>Mark Lassoff</span>
																	
																</div>
																<div class="course-item-price bg-danger">
																	$19.56
																</div>
															</div>
															<div class="course-item-content">
																<div class="rating-wrapper">
																	<div class="rating-item">
																		<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5"/>
																	</div>
																	<span> (7 review)</span>
																</div>
																<h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
																<p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples for You To Use! Dave Pither-Patterson</p>
															</div>
															<div class="course-item-bottom clearfix">
																<div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
																<div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
																<div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
															</div>
														</a>
													</div>
												</div>
												
												<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
													<div class="course-item">
														<a href="#">
															<div class="course-item-image">
																<img src="app/images/02.jpg" alt="Image" class="img-responsive" />
															</div>
															<div class="course-item-top clearfix">
																<div class="course-item-instructor">
																	<div class="image">
																		<img src="app/images/02.jpg" alt="Image" class="img-circle" />
																	</div>
																	<span>Nicholas Mavrakis</span>
																</div>
																<div class="course-item-price bg-danger">
																	$19.56
																</div>
															</div>
															<div class="course-item-content">
																<div class="rating-wrapper">
																	<div class="rating-item">
																		<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5"/>
																	</div>
																	<span> (7 review)</span>
																</div>
																<h3 class="text-primary">Food Photography: Shooting at Restaurants</h3>
																<p>She propriety immediate was improving. He or entrance humoured likewise moderate. Much nor game son say feel.</p>
															</div>
															<div class="course-item-bottom clearfix">
																<div><i class="fa fa-folder-open-o"></i><span class="block"> Photography </span></div>
																<div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
																<div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
															</div>
														</a>
													</div>
												</div>
												
												<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
													<div class="course-item">
														<a href="#">
															<div class="course-item-image">
																<img src="app/images/03.jpg" alt="Image" class="img-responsive" />
															</div>
															<div class="course-item-top clearfix">
																<div class="course-item-instructor">
																	<div class="image">
																		<img src="app/images/03.jpg" alt="Image" class="img-circle" />
																	</div>
																	<span>Ange Ermolova</span>
																</div>
																<div class="course-item-price bg-danger">
																	$19.56
																</div>
															</div>
															<div class="course-item-content">
																<div class="rating-wrapper">
																	<div class="rating-item">
																		<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5"/>
																	</div>
																	<span> (7 review)</span>
																</div>
																<h3 class="text-primary">Introduction to HTML: Build a Portfolio Website</h3>
																<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient newspaper questions consulted</p>
															</div>
															<div class="course-item-bottom clearfix">
																<div><i class="fa fa-folder-open-o"></i><span class="block"> Wed Design</span></div>
																<div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
																<div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
															</div>
														</a>
													</div>
												</div>
												
												<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
													<div class="course-item">
														<a href="#">
															<div class="course-item-image">
																<img src="app/images/04.jpg" alt="Image" class="img-responsive" />
															</div>
															<div class="course-item-top clearfix">
																<div class="course-item-instructor">
																	<div class="image">
																		<img src="app/images/04.jpg" alt="Image" class="img-circle" />
																	</div>
																	<span>Nicholas Mavrakis</span>
																</div>
																<div class="course-item-price bg-danger">
																	$19.56
																</div>
															</div>
															<div class="course-item-content">
																<div class="rating-wrapper">
																	<div class="rating-item">
																		<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5"/>
																	</div>
																	<span> (7 review)</span>
																</div>
																<h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
																<p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples for You To Use! Dave Pither-Patterson </p>
															</div>
															<div class="course-item-bottom clearfix">
																<div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
																<div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
																<div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
															</div>
														</a>
													</div>
												</div>
												
												<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
													<div class="course-item">
														<a href="#">
															<div class="course-item-image">
																<img src="app/images/05.jpg" alt="Image" class="img-responsive" />
															</div>
															<div class="course-item-top clearfix">
																<div class="course-item-instructor">
																	<div class="image">
																		<img src="app/images/01.jpg" alt="Image" class="img-circle" />
																	</div>
																	<span>Mark Lassoff </span>
																</div>
																<div class="course-item-price bg-danger">
																	$19.56
																</div>
															</div>
															<div class="course-item-content">
																<div class="rating-wrapper">
																	<div class="rating-item">
																		<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5"/>
																	</div>
																	<span> (7 review)</span>
																</div>
																<h3 class="text-primary">Introduction to HTML: Build a Portfolio Website</h3>
																<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient ask him cold feel</p>
															</div>
															<div class="course-item-bottom clearfix">
																<div><i class="fa fa-folder-open-o"></i><span class="block"> Wed Design</span></div>
																<div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
																<div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
															</div>
														</a>
													</div>
												</div>
												
												<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
													<div class="course-item">
														<a href="#">
															<div class="course-item-image">
																<img src="app/images/06.jpg" alt="Image" class="img-responsive" />
															</div>
															<div class="course-item-top clearfix">
																<div class="course-item-instructor">
																	<div class="image">
																		<img src="app/images/04.jpg" alt="Image" class="img-circle" />
																	</div>
																	<span>Suttira Ketkaew</span>
																</div>
																<div class="course-item-price bg-danger">
																	$19.56
																</div>
															</div>
															<div class="course-item-content">
																<div class="rating-wrapper">
																	<div class="rating-item">
																		<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5"/>
																	</div>
																	<span> (7 review)</span>
																</div>
																<h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
																<p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples for You To Use! Dave Pither-Patterson</p>
															</div>
															<div class="course-item-bottom clearfix">
																<div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
																<div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
																<div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
															</div>
														</a>
													</div>
												</div>
												
												<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
													<div class="course-item">
														<a href="#">
															<div class="course-item-image">
																<img src="app/images/07.jpg" alt="Image" class="img-responsive" />
															</div>
															<div class="course-item-top clearfix">
																<div class="course-item-instructor">
																	<div class="image">
																		<img src="app/images/03.jpg" alt="Image" class="img-circle" />
																	</div>
																	<span>Ange Ermolova</span>
																</div>
																<div class="course-item-price bg-danger">
																	$19.56
																</div>
															</div>
															<div class="course-item-content">
																<div class="rating-wrapper">
																	<div class="rating-item">
																		<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5"/>
																	</div>
																	<span> (7 review)</span>
																</div>
																<h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
																<p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples for You To Use! Dave Pither-Patterson</p>
															</div>
															<div class="course-item-bottom clearfix">
																<div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
																<div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
																<div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
															</div>
														</a>
													</div>
												</div>
												
												<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
													<div class="course-item">
														<a href="#">
															<div class="course-item-image">
																<img src="app/images/08.jpg" alt="Image" class="img-responsive" />
															</div>
															<div class="course-item-top clearfix">
																<div class="course-item-instructor">
																	<div class="image">
																		<img src="app/images/02.jpg" alt="Image" class="img-circle" />
																	</div>
																	<span>Nicholas Mavrakis</span>
																</div>
																<div class="course-item-price bg-danger">
																	$19.56
																</div>
															</div>
															<div class="course-item-content">
																<div class="rating-wrapper">
																	<div class="rating-item">
																		<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5"/>
																	</div>
																	<span> (7 review)</span>
																</div>
																<h3 class="text-primary">Food Photography: Shooting at Restaurants</h3>
																<p>She propriety immediate was improving. He or entrance humoured likewise moderate. Much nor game son say feel.</p>
															</div>
															<div class="course-item-bottom clearfix">
																<div><i class="fa fa-folder-open-o"></i><span class="block"> Photography </span></div>
																<div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
																<div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
															</div>
														</a>
													</div>
												</div>

												<div class="GridLex-col-4_mdd-6_sm-6_xs-6_xss-12">
													<div class="course-item">
														<a href="#">
															<div class="course-item-image">
																<img src="app/images/04.jpg" alt="Image" class="img-responsive" />
															</div>
															<div class="course-item-top clearfix">
																<div class="course-item-instructor">
																	<div class="image">
																		<img src="images	/02.jpg" alt="Image" class="img-circle" />
																	</div>
																	<span>Nicholas Mavrakis</span>
																</div>
																<div class="course-item-price bg-danger">
																	$19.56
																</div>
															</div>
															<div class="course-item-content">
																<div class="rating-wrapper">
																	<div class="rating-item">
																		<input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5"/>
																	</div>
																	<span> (7 review)</span>
																</div>
																<h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
																<p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples for You To Use! Dave Pither-Patterson </p>
															</div>
															<div class="course-item-bottom clearfix">
																<div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
																<div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
																<div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
															</div>
														</a>
													</div>
												</div>
												
											</div>
										
										</div>
										
									</div>
									
									<div class="clear"></div>
									
									<div class="pager-wrappper clearfix">
					
										<div class="pager-innner">
										
											<div class="row">
													
												<div class="col-xs-12 col-sm-12 col-md-6">
													<div class="pagination-text">Showing reslut 1 to 15 from 248 </div>
												</div>
												
												<div class="col-xs-12 col-sm-12 col-md-6">
													<nav class="pager-right">
														<ul class="pagination">
															<li>
																<a href="#" aria-label="Previous">
																	<span aria-hidden="true">&laquo;</span>
																</a>
															</li>
															<li class="active"><a href="#">1</a></li>
															<li><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><span>...</span></li>
															<li><a href="#">11</a></li>
															<li><a href="#">12</a></li>
															<li><a href="#">13</a></li>
															<li>
																<a href="#" aria-label="Next">
																	<span aria-hidden="true">&raquo;</span>
																</a>
															</li>
														</ul>
													</nav>
												</div>
											
											</div>
											
										</div>
										
									</div>

								</div>
							
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>

		</div>
		<!-- end Main Wrapper -->
		
		
	</div>
	<!-- end Container Wrapper -->
 
 
<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="ion-ios-arrow-up"></i></a>
</div>
<!-- end Back To Top -->

<div id="ajaxLoginModal" class="modal fade login-box-wrapper" data-width="500" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;"></div>
		
<div id="ajaxRegisterModal" class="modal fade login-box-wrapper" data-width="500" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;">
</div>

<div id="ajaxForgotPasswordModal" class="modal fade login-box-wrapper" data-width="500" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;"></div>


<!-- JS -->
<script src="https://use.fontawesome.com/796412e158.js"></script>
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/spin.min.js"></script>
<script type="text/javascript" src="js/jquery.introLoader.min.js"></script>
<script type="text/javascript" src="js/typed.js"></script>
<script type="text/javascript" src="js/placeholderTypewriter.js"></script>
<script type="text/javascript" src="js/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/select2.full.js"></script>
<script type="text/javascript" src="js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="js/readmore.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/bootstrap-rating.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/creditly.js"></script>
<script type="text/javascript" src="js/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="js/bootstrap-modal.js"></script>
<script type="text/javascript" src="js/customs.js"></script>