<!-- start Container Wrapper -->
<div class="container-wrapper">

    
    <!-- start Main Wrapper -->
    <div class="main-wrapper scrollspy-container">

        <!-- start hero-header -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="app/images/main-banner.jpg" alt="..."> 
    </div>
    <div class="item">
      <img src="app/images/main-banner2.jpg" alt="...">  
    </div>   
  </div>

  <!-- Controls -->
  <div class="container over-section">

                <div class="main-search-wrapper">

                    <h2 class="text-center">What course will you like to learn?</h2>
                    <p class="lead text-center">Welcome to GrowSure, With us, Growth is a guarantee</p>

                    <div class="input-group">
                        <input type="text" id="subjectSearch" class="form-control placeholder-type-writter" 
                               data-ng-model="searchText">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="searchoverlay">
                        <ul data-ng-if="!isUndefined(searchText)">
                            <li data-ng-repeat="item in courses | filter:searchText as filtered_result">
                                <a style="cursor: pointer" href="#/course-detail/{{item.name}}/{{item.id}}">
                                {{item.name}}</a>
                            </li>
                            <li style="color:#333" data-ng-show="filtered_result.length == 0">
                                No record found.
                            </li>
                        </ul>
                    </div>
                    <div class="featured-sm-wrapper">

                        <div class="GridLex-gap-30">

                            <div class="GridLex-grid-noGutter-equalHeight GridLex-grid-center">

                                <div class="GridLex-col-4_sm-4_xs-8_xss-12">

                                    <div class="featured-sm-item clearfix">

                                        <div class="icon">
                                            <i class="fa fa-clipboard"></i>
                                        </div>

                                        <div class="content">
                                            More than 35 courses
                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-4_sm-4_xs-8_xss-12">

                                    <div class="featured-sm-item clearfix">

                                        <div class="icon">
                                            <i class="fa fa-users"></i>
                                        </div>

                                        <div class="content">
                                            Over 900 students
                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-4_sm-4_xs-8_xss-12">

                                    <div class="featured-sm-item clearfix">

                                        <div class="icon">
                                            <i class="fa fa-tablet"></i>
                                        </div>

                                        <div class="content">
                                            Learn anywhere, anythime you like
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
</div>
        <!-- end hero-header -->
        <!-- start Introduction -->
            <div class="about-area">
                    <h3>WHY Growsure ?</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="about-container">
                                    
                                    <p>We are an institute for all your needs. Stationed at the centre of your favourite city. Right next to Sapna Sangeeta. Join us for falling in love with studies.In Engineering, we teach it all. From core java to python to website development, GrowSure has all arrows in its quiver.
The GrowSure Universe covers Competitive exams and Government funded trainings as well. Not very fond of reading textbooks! Log on to our website and have an interactive framework ready for you to learn from. 24x7 to indulge you, One on one blogs for students and teachers to clear out doubts and learn from. Do not wait an instant longer. Open the Pandora's Box named GrowSure and delve deeper into the world of learning. </p>
                                 <!--   <a class="button-default" href="#">Learn Now</a>	 -->     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- end Introduction -->
        <!-- start Top Offer -->
        <section class="section bg-light">

            <div class="container">

                <div class="row">

                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                        <div class="section-title">
                            <h2 class="text-center">Popular Courses</h2>
                            <p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. <strong>Ourselves for determine</strong> attending how led gentleman sincerity.</p>
                        </div>
                    </div>

                </div>
                <div class="course-item-wrapper gap-20">

                    <div class="GridLex-grid-noGutter-equalHeight GridLex-grid-center">

                        <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
                            <div class="course-item">
                                <a href="#">
                                    <div class="course-item-image">
                                        <img src="app/images/01.jpg" alt="Image" class="img-responsive" />
                                    </div>
                                    <div class="course-item-top clearfix">
                                        <div class="course-item-instructor">
                                            <div class="image">
                                                <img src="app/images/01.jpg" alt="Image" class="img-circle" />
                                            </div>
                                            <span>Mark Lassoff </span>
                                        </div>
                                        <div class="course-item-price bg-danger">
                                            $19.56
                                        </div>
                                    </div>
                                    <div class="course-item-content">
                                        <div class="rating-wrapper">
                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>
                                            <span> (7 review)</span>
                                        </div>
                                        <h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
                                        <p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples for You To Use! Dave Pither-Patterson</p>
                                    </div>
                                    <div class="course-item-bottom clearfix">
                                        <div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
                                        <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                                        <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
                            <div class="course-item">
                                <a href="#">
                                    <div class="course-item-image">
                                        <img src="app/images/02.jpg" alt="Image" class="img-responsive" />
                                    </div>
                                    <div class="course-item-top clearfix">
                                        <div class="course-item-instructor">
                                            <div class="image">
                                                <img src="app/images/testimonial_02.jpg" alt="Image" class="img-circle" />
                                            </div>
                                            <span>Nicholas Mavrakis</span>
                                        </div>
                                        <div class="course-item-price bg-danger">
                                            $19.56
                                        </div>
                                    </div>
                                    <div class="course-item-content">
                                        <div class="rating-wrapper">
                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>
                                            <span> (7 review)</span>
                                        </div>
                                        <h3 class="text-primary">Food Photography: Shooting at Restaurants</h3>
                                        <p>She propriety immediate was improving. He or entrance humoured likewise moderate. Much nor game son say feel.</p>
                                    </div>
                                    <div class="course-item-bottom clearfix">
                                        <div><i class="fa fa-folder-open-o"></i><span class="block"> Photography </span></div>
                                        <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                                        <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
                            <div class="course-item">
                                <a href="#">
                                    <div class="course-item-image">
                                        <img src="app/images/03.jpg" alt="Image" class="img-responsive" />
                                    </div>
                                    <div class="course-item-top clearfix">
                                        <div class="course-item-instructor">
                                            <div class="image">
                                                <img src="app/images/testimonial_03.jpg" alt="Image" class="img-circle" />
                                            </div>
                                            <span>Ange Ermolova</span>
                                        </div>
                                        <div class="course-item-price bg-danger">
                                            $19.56
                                        </div>
                                    </div>
                                    <div class="course-item-content">
                                        <div class="rating-wrapper">
                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>
                                            <span> (7 review)</span>
                                        </div>
                                        <h3 class="text-primary">Introduction to HTML: Build a Portfolio Website</h3>
                                        <p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient newspaper questions consulted</p>
                                    </div>
                                    <div class="course-item-bottom clearfix">
                                        <div><i class="fa fa-folder-open-o"></i><span class="block"> Wed Design</span></div>
                                        <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                                        <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
                            <div class="course-item">
                                <a href="#">
                                    <div class="course-item-image">
                                        <img src="app/images/04.jpg" alt="Image" class="img-responsive" />
                                    </div>
                                    <div class="course-item-top clearfix">
                                        <div class="course-item-instructor">
                                            <div class="image">
                                                <img src="app/images/testimonial_02.jpg" alt="Image" class="img-circle" />
                                            </div>
                                            <span>Nicholas Mavrakis</span>
                                        </div>
                                        <div class="course-item-price bg-danger">
                                            $19.56
                                        </div>
                                    </div>
                                    <div class="course-item-content">
                                        <div class="rating-wrapper">
                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>
                                            <span> (7 review)</span>
                                        </div>
                                        <h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
                                        <p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples for You To Use! Dave Pither-Patterson </p>
                                    </div>
                                    <div class="course-item-bottom clearfix">
                                        <div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
                                        <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                                        <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
                            <div class="course-item">
                                <a href="#">
                                    <div class="course-item-image">
                                        <img src="app/images/05.jpg" alt="Image" class="img-responsive" />
                                    </div>
                                    <div class="course-item-top clearfix">
                                        <div class="course-item-instructor">
                                            <div class="image">
                                                <img src="app/images/testimonial_01.jpg" alt="Image" class="img-circle" />
                                            </div>
                                            <span>Mark Lassoff </span>
                                        </div>
                                        <div class="course-item-price bg-danger">
                                            $19.56
                                        </div>
                                    </div>
                                    <div class="course-item-content">
                                        <div class="rating-wrapper">
                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>
                                            <span> (7 review)</span>
                                        </div>
                                        <h3 class="text-primary">Introduction to HTML: Build a Portfolio Website</h3>
                                        <p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient ask him cold feel</p>
                                    </div>
                                    <div class="course-item-bottom clearfix">
                                        <div><i class="fa fa-folder-open-o"></i><span class="block"> Wed Design</span></div>
                                        <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                                        <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
                            <div class="course-item">
                                <a href="#">
                                    <div class="course-item-image">
                                        <img src="app/images/06.jpg" alt="Image" class="img-responsive" />
                                    </div>
                                    <div class="course-item-top clearfix">
                                        <div class="course-item-instructor">
                                            <div class="image">
                                                <img src="app/images/testimonial_04.jpg" alt="Image" class="img-circle" />
                                            </div>
                                            <span>Suttira Ketkaew</span>
                                        </div>
                                        <div class="course-item-price bg-danger">
                                            $19.56
                                        </div>
                                    </div>
                                    <div class="course-item-content">
                                        <div class="rating-wrapper">
                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>
                                            <span> (7 review)</span>
                                        </div>
                                        <h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
                                        <p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples for You To Use! Dave Pither-Patterson</p>
                                    </div>
                                    <div class="course-item-bottom clearfix">
                                        <div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
                                        <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                                        <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
                            <div class="course-item">
                                <a href="#">
                                    <div class="course-item-image">
                                        <img src="app/images/07.jpg" alt="Image" class="img-responsive" />
                                    </div>
                                    <div class="course-item-top clearfix">
                                        <div class="course-item-instructor">
                                            <div class="image">
                                                <img src="app/images/testimonial_03.jpg" alt="Image" class="img-circle" />
                                            </div>
                                            <span>Ange Ermolova</span>
                                        </div>
                                        <div class="course-item-price bg-danger">
                                            $19.56
                                        </div>
                                    </div>
                                    <div class="course-item-content">
                                        <div class="rating-wrapper">
                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>
                                            <span> (7 review)</span>
                                        </div>
                                        <h3 class="text-primary">Foundations of Enterprise Development for Windows</h3>
                                        <p>Create Code That Screams with C++! Hours of Video Lecture, Lab Exercises and Dozens of Code Samples for You To Use! Dave Pither-Patterson</p>
                                    </div>
                                    <div class="course-item-bottom clearfix">
                                        <div><i class="fa fa-folder-open-o"></i><span class="block"> Programming</span></div>
                                        <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                                        <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
                            <div class="course-item">
                                <a href="#">
                                    <div class="course-item-image">
                                        <img src="app/images/08.jpg" alt="Image" class="img-responsive" />
                                    </div>
                                    <div class="course-item-top clearfix">
                                        <div class="course-item-instructor">
                                            <div class="image">
                                                <img src="app/images/testimonial_02.jpg" alt="Image" class="img-circle" />
                                            </div>
                                            <span>Nicholas Mavrakis</span>
                                        </div>
                                        <div class="course-item-price bg-danger">
                                            $19.56
                                        </div>
                                    </div>
                                    <div class="course-item-content">
                                        <div class="rating-wrapper">
                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>
                                            <span> (7 review)</span>
                                        </div>
                                        <h3 class="text-primary">Food Photography: Shooting at Restaurants</h3>
                                        <p>She propriety immediate was improving. He or entrance humoured likewise moderate. Much nor game son say feel.</p>
                                    </div>
                                    <div class="course-item-bottom clearfix">
                                        <div><i class="fa fa-folder-open-o"></i><span class="block"> Photography </span></div>
                                        <div><i class="fa fa-pencil-square-o"></i><span class="block"> 15 Lessons</span></div>
                                        <div><i class="fa fa-calendar-check-o"></i><span class="block"> 4.5 Hours</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section>
        <!-- end Top Offer -->
        <!-- start Top Destinations -->
       <section class="fun-factor-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper white">
                                    <div class="section-title">
                                        <h3>IMPORTANT FACTS</h3>
                                        <p>There are many variations of passages of Lorem Ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Teachers</h4>
                                    <h2><span class="counter">79</span>+</h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Members</h4>
                                    <h2><span class="counter">120</span>+</h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Courses</h4>
                                    <h2><span class="counter">36</span>+</h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Countries</h4>
                                    <h2><span class="counter">20</span>+</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        
        
        
        
        
        <!-- end Top Destinations -->
        <!-- start Promo -->
        <div class="promo-box-bg-img" style="background-image:url('app/images/teacher-bg.jpg');">
            <div class="container">
                <div class="row">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 

  <!-- Wrapper for slides -->
  <div class="carousel-inner text-center" role="listbox">
    <div class="item text-center active">
      <img src="app/images/testimonial_01.jpg" alt="...">
        <p>Lorem ipsum dolor sit amet is the dummy text for describing web site content</p>
        <p><i>Designer Vaibhav kasar</i></p>
    </div>
    <div class="item text-center">
        <img src="app/images/testimonial_02.jpg" alt="...">
      <p>Lorem ipsum dolor sit amet is the dummy text for describing web site content</p>
        <p><i>Designer Vaibhav kasar</i></p>
    </div>
    <div class="item text-center">
        <img src="app/images/testimonial_03.jpg" alt="...">
      <p>Lorem ipsum dolor sit amet is the dummy text for describing web site content</p>
        <p><i>Designer Vaibhav kasar</i></p>
    </div>
   
  </div>

  <!-- Controls -->
 
</div>

                </div>
            </div>
        </div>
        <!-- end Promo -->

    </div>
    <!-- end Main Wrapper -->
   

</div>
<!-- end Container Wrapper -->


<script>
    
    $('#subjectSearch').placeholderTypewriter({

        text: ["What you like to learn ?", "Buisness development", "Hardware & Networking", "Stock Marketing",
            "Website Development", "Desktop application", "AngularJS","Autocade",  "Stock Marketing", ".Net", "HTML"],
        delay: 200,
        pause : 2000
    });




</script>




